*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* width: 210px; */
}
.container{
    display: grid;
    background-color: #000000;
    grid-template-columns: repeat(4, 70px);
    gap: 1px;
}
.box{
    height: 70px;
    width: 70px;
    text-align: center;
    padding-top: 15px;
    background-color: #484848;
    color: white;
    font-weight: 500;
    font-size: x-large;
    font-family: sans-serif;
}
.box-11{
    background-color: #898989;
    width: 283px;
    grid-area: 1 / 1 / 2 / 5;
    text-align: end;
    padding-top: 10px;
    padding-right: 20px;
}
.box-12, .box-13, .box-14, .box-15,.box-16, .box-17, .box-18, .box-19{
    background-color: #626262;
}
.box-10{
    grid-area: 6 / 2 / 7 / 3;
}
.box-12{

    color: #ff8352;
    grid-area: 2 / 1 / 3 / 2 ;
}
.box-13{
    grid-area: 2 / 2 / 3 / 3;
}
.box-14{
    grid-area: 2 / 3 / 3 / 4;
}
.box-15{
    grid-area: 2 / 4 / 3 / 5;
}
.box-16{
    grid-area: 3 / 4 / 4 / 5;
}
.box-17{
    grid-area: 4 / 4 / 5 / 5;
}
.box-18{
    grid-area: 5 / 4 / 6 / 5;
}
.box-19{
    grid-area: 6 / 4 / 7 / 5;
}
.box-21{
    grid-area: 6 / 1 / 7 / 2;
}
